.triangle {
  padding: 0px;
  background-color: transparent;
  width:0;
  height:0;
  margin-top: 0px;
  margin-bottom: 0px;
}

.triangle:focus {
  outline-color: transparent;
}

.triangle-left {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid rgb(248,249,250);
}

.add-btn {
  width: 50px;
  height: 50px;
  color: gray;
  background-color: #ffff;
  border: 5px solid rgb(248,249,250);
}

.chatinput {
  position: relative;
}

.lineinput {
  background-color: rgb(248,249,250);
  width: 5px;
  height: 90%;
  margin-left: 22.5px;
  position: absolute;
  z-index: -1;
}